*.log*
*.do*
*work*
*cov*
*vish*
*vsim*
*transcript*
*.simvision/*
*INCA_libs/*
*.shm*
csrc
simv.daidir
vc_hdrs.h
simv
ucli.key
apb_compile.history
xcelium.d
qaLog.txt
cov_work
shm.tcl
coverage_config_file
*.vcd
simv.vdb
*.so
*.o
*.db
*.sdb
*.vcs_lib_lock
*.vcs_lib_import_lock
*.vlogan
*.vcpkg_installed
profileReport
profileReport.*
simprofile_dir
simprofile_dir.*